ideias.docx
ajudinha.txt
fazendo.txt
roteiro.txt
/datasets/pib
/datasets/populacao
/datasets/mapa.pdf
datasets/violencias/dados_violencia_populacao_indice_pib_2014_2021.csv
datasets/violencias/violencia_mg_2014_2021.csv
datasets/violencias/violencia_mg_municipio_2014_2021.csv
datasets/violencias/planilhas_separadas